@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0ffff;
  /* font-family: "Baloo Tamma 2", sans-serif; */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* LOGIN PAGE STYLING */

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__input {
  text-align: center;
  border-radius: 1em;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
}

.login__btn {
  margin: 1em;
  width: 10em;
  font-size: 15px;
  font-weight: 400;
}

.page__wrapper {
  margin-top: 20vh;
  min-height: 50vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome__message h1 {
  font-size: 1.5rem;
}

/* NAVIGATION STYLING */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 13vw;
  height: 100vh;
  background: rgba(34, 34, 34, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bot__nav__wrapper {
  margin-bottom: 2em;
}

.navigation button {
  margin-left: 1em;
  margin-top: 2em;
  width: 10vw;
  font-weight: 400;
}

.hero__img {
  margin: 2em 0;
  max-width: 20vw;
}

/* UPLOAD PAGE STYLING */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading__message {
  margin-left: 11.75vw;
  margin-bottom: 2vw;
  background-color: azure;
  min-width: 40vw;
  min-height: 20vh;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.upload__data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding-left: 13em;
}

.upload__main__container {
  min-height: 80vh;
  min-width: 65vw;
  border: 2px solid darkgrey;
  border-radius: 2em;
  margin: 2em;
  padding-right: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.input__container {
  min-height: 65vh;
  min-width: 50vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.input__field__heading {
  font-size: 1.25rem;
  font-weight: 500;
}

.identifier__value {
  border-radius: 2em;
  border: 2px solid rgba(0, 0, 0, 0.199);
  width: 15em;
  height: 2em;
  text-align: center;
}

.upload__data button {
  width: 10em;
  font-weight: 400;
}

/* VIEW PAGE STYLING */

.table__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.look_data_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding-left: 13em;
}

.search__container {
  min-height: 80vh;
  min-width: 65vw;
  border: 2px solid darkgrey;
  border-radius: 2em;
  margin: 2em;
  padding-right: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main__container {
  min-height: 80vh;
  min-width: 65vw;
  border: 2px solid darkgrey;
  border-radius: 2em;
  margin: 2em;
  padding-right: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.info__container {
  margin-top: 2em;
}

.action__container {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.action__container h1,
.action__container input {
  margin: 1em;
  font-weight: 400;
}

.action__container button {
  width: 10em;
  margin: 1em;
  font-weight: 400;
}

.btn__style {
  width: 10em;
  margin-top: 1em;
  font-weight: 400;
}

.identifier__value {
  border-radius: 2em;
  border: 2px solid rgba(0, 0, 0, 0.199);
  width: 15em;
  height: 2em;
  text-align: center;
}

.data__container {
  padding: 1.5em;
  min-width: 50vw;
  max-height: 60vh;
  border-radius: 10px;
  overflow-x: hidden;
}

.data__container::-webkit-scrollbar {
  width: 10px;
}

.data__container::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 1em;
}

.data__container::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95);
  border-radius: 1em;
}

.graphContainer {
  max-width: 62vw;
  margin-left: 1em;
}

.graphTitle {
  margin: 1em 5em;
}

.export__btn {
  width: 7em;
  margin-top: 1em;
  margin-left: 2em;
}

.indicator {
  margin: 2em 0;
  padding: 0.75em;
  border: 2px solid red;
  border-radius: 1em;
}

.indicator::-webkit-scrollbar {
  width: 10px;
}

.indicator::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 1em;
}

.indicator::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95);
  border-radius: 1em;
}

.data__identity {
  margin-top: 5vh;
  padding: 0.75em;
  font-size: 1.5rem;
  font-weight: 400;
  border: 2px solid darkgrey;
  border-radius: 0.75em;
}

/* TABLE STYLING */

.table {
  width: 100%;
  border: 1px solid black;
  border-spacing: 0.5em;
  border-radius: 0.5em;
  padding: 0.25em;
}

th,
td {
  width: 15%;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.25em;
  border-collapse: collapse;
  text-align: center;
}

/* CSS CLASSLIST */

.hidden {
  display: none;
}

.smallTxt {
  font-size: 9px;
}

/* Spinner */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left: 11.75vw;
  margin-bottom: 2vw;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent rgb(182, 182, 182) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring-upload {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 2vh;
}

.lds-dual-ring-upload:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid darkgray;
  border-color: rgb(122, 122, 122) transparent rgb(88, 88, 88) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
