<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,100;1,200&display=swap"
      rel="stylesheet"
    />
    <title>Forbidden</title>
    <style>
      /* Clear Fix */
      * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
      /* HTML5 display-role reset for older browsers */
      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      menu,
      nav,
      section {
        display: block;
      }
      body {
        line-height: 1;
      }
      ol,
      ul {
        list-style: none;
      }
      blockquote,
      q {
        quotes: none;
      }
      blockquote:before,
      blockquote:after,
      q:before,
      q:after {
        content: "";
        content: none;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }
      /* Style */
      .container {
        font-family: "Poppins", sans-serif;
        color: azure;
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: #f56565;
        justify-content: center;
      }
      .inform {
        display: flex;
        align-items: center;
      }
      .main {
        flex-direction: column;
        text-align: center;
      }
      h1 {
        font-size: 7em;
        font-weight: bold;
        line-height: 1.2em;
      }
      h2 {
        font-size: 1.5em;
        line-height: 1em;
      }
      h3 {
        font-size: 1em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="inform">
        <div class="main">
          <h1>404</h1>
          <h2>Mohon Maaf</h2>
          <h3>Halaman tidak dapat ditemukan . . .</h3>
        </div>
      </div>
    </div>
  </body>
</html>
