<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/index.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="#" />
    <script defer type="module" src="../../dist/deleteController.bundle.js" ></script>
    <title>Database System</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="top__nav__wrapper">
        <a href="/upload">
          <button
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white
              py-2
              px-4
              rounded-full
            "
          >
            Unggah Data
          </button></a
        >

        <a href="/view">
          <button
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white
              py-2
              px-4
              rounded-full
            "
          >
            Lihat Data
          </button></a
        >

        <a href="/delete">
          <button
            class="
              bg-red-500
              hover:bg-red-700
              text-white    
              py-2
              px-4
              rounded-full
            "
          >
            Hapus Data
          </button></a
        >
      </div>

      <div class="bot__nav__wrapper">
        <a href="/logout">
          <button
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white   
              py-2
              px-4
              rounded-full
            "
          >
            Keluar
          </button></a
        >
      </div>
    </nav>

    <main class="look_data_section">
      <div class="main__container">
        <div class="info__container">
          <div class="data__container">
            <table class="table__1"></table>
          </div>
        </div>

        <div class="action__container">
          <h1 class="identifier__heading">
            Untuk Menghapus Data, Masukkan Tanggal Data Dengan Format YYYY/MM/DD
          </h1>
          <input
            type="text"
            class="identifier__value"
            placeholder="YYYY/MM/DD"
            required
          />
          <button
            class="
            delete__data
              bg-blue-500
              hover:bg-blue-700
              text-white
              py-2
              px-4
              rounded-full
            "
          >
            Hapus Data
          </button>
        </div>
    </main>

  </body>
</html>
