<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/index.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="#" />
    <script
      defer
      type="module"
      src="../../dist/uploadController.bundle.js"
    ></script>
    <title>Database System</title>
  </head>
  <body>
    <div class="overlay"></div>
    <nav class="navigation">
      <div class="top__nav__wrapper">
        <a href="/upload">
          <button
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white
              py-2
              px-4
              rounded-full
            "
          >
            Unggah Data
          </button></a
        >

        <a href="/view">
          <button
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white
              py-2
              px-4
              rounded-full
            "
          >
            Lihat Data
          </button></a
        >

        <a href="/delete">
          <button
            class="
              bg-red-500
              hover:bg-red-700
              text-white
              py-2
              px-4
              rounded-full
            "
          >
            Hapus Data
          </button></a
        >
      </div>

      <div class="bot__nav__wrapper">
        <a href="/logout">
          <button
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white
              py-2
              px-4
              rounded-full
            "
          >
            Keluar
          </button></a
        >
      </div>
    </nav>

    <main class="upload__data">
      <div class="upload__main__container">
        <div class="input__container">
          <div class="input__field__container">
            <h1 class="input__field__heading">Tambahkan File Humidity</h1>
            <input
              type="file"
              id="uploadFile1"
              class="uploadFile"
              accept=".csv"
              required
            />
          </div>
          <div class="input__field__container">
            <h1 class="input__field__heading">Tambahkan File Temperature</h1>
            <input
              type="file"
              id="uploadFile2"
              class="uploadFile"
              accept=".csv"
            />
          </div>
          <div class="input__field__container">
            <h1 class="input__field__heading">Tambahkan File History Data</h1>
            <input
              type="file"
              id="uploadFile3"
              class="uploadFile"
              accept=".csv"
            />
          </div>
          <div class="input__field__container">
            <h1 class="input__field__heading">Tambahkan File Alarm Historis</h1>
            <input
              type="file"
              id="uploadFile4"
              class="uploadFile"
              accept=".csv"
            />
          </div>
          <h1>Masukkan Nama Data Dengan Format YYYY/MM/DD</h1>
          <input
            type="text"
            class="identifier__value"
            placeholder="YYYY/MM/DD"
          />
        </div>

        <button
          id="uploadConfirm"
          class="
            bg-blue-500
            hover:bg-blue-700
            text-white
            py-2
            px-4
            rounded-full
          "
        >
          Unggah
        </button>
      </div>
    </main>
  </body>
</html>
