<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/index.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Database System</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="topNav">
        <a href="/upload">
          <button
            id="unggahDataBtn"
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white
              font-bold
              py-2
              px-4
              rounded-full
            "
          >
            Unggah Data
          </button></a
        >

        <a href="/view">
          <button
            id="downloadDataBtn"
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white
              font-bold
              py-2
              px-4
              rounded-full
            "
          >
            Lihat Data
          </button></a
        >

        <a href="/delete">
          <button
            id="downloadDataBtn"
            class="
              bg-red-500
              hover:bg-red-700
              text-white
              font-bold
              py-2
              px-4
              rounded-full
            "
          >
            Hapus Data
          </button></a
        >
      </div>

      <div class="botNav">
        <a href="/logout">
          <button
            id="logoutBtn"
            class="
              bg-blue-500
              hover:bg-blue-700
              text-white
              font-bold
              py-2
              px-4
              rounded-full
            "
          >
            Keluar
          </button></a
        >
      </div>
    </nav>

    <main class="uploadData">
      <div class="uploadMainContainer">
        <div class="inputContainer">
          <div class="tambahFileContainer">
            <h1 class="tambahFileTxt">Tambahkan File Humidity</h1>
            <input
              type="file"
              id="uploadFile1"
              class="uploadFile"
              accept=".csv"
              required
            />
          </div>
          <div class="tambahFileContainer">
            <h1 class="tambahFileTxt">Tambahkan File Temperature</h1>
            <input
              type="file"
              id="uploadFile2"
              class="uploadFile"
              accept=".csv"
            />
          </div>
          <div class="tambahFileContainer">
            <h1 class="tambahFileTxt">Tambahkan File History Data</h1>
            <input
              type="file"
              id="uploadFile3"
              class="uploadFile"
              accept=".csv"
            />
          </div>
          <div class="tambahFileContainer">
            <h1 class="tambahFileTxt">Tambahkan File Alarm Historis</h1>
            <input
              type="file"
              id="uploadFile4"
              class="uploadFile"
              accept=".csv"
            />
          </div>
          <h1>Masukkan Nama Data Dengan Format YYYY/MM/DD</h1>
          <input
            type="text"
            class="identifierSelector"
            placeholder="YYYY/MM/DD"
          />
        </div>

        <button
          id="uploadConfirm"
          class="
            bg-blue-500
            hover:bg-blue-700
            text-white
            font-bold
            py-2
            px-4
            rounded-full
          "
        >
          Unggah
        </button>
      </div>
    </main>
    <script type="module" src="../../dist/uploadController.bundle.js"></script>
  </body>
</html>
